/*
body > .qr-window
.qr-window > .qr-scanner
.qr-window > .qr-creator
.qr-window > .show-content
*/

#qr-window{
    width: 100%;
    height: 100%;
    display: flex;
}
.show-focussed .action{
    display: none;
}
.show-focussed .action.show-content{
    display: flex;
}
.action{
    margin: auto;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.action.show-content{
    width: 80%;
}
.data-frame{
    display: none;
}
.action button{
    display: flex;
    width:50%;
    height:100px;
}
.action .content{
    display: none;
}
.action.show-content button{
    display: none;
}
.show-content .content button{
    display: inline;
}
.action.show-content .content{
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
}

canvas{
    max-height: 50%;
}
.render-data{
    display: none;
}
.render-data~.data-frame{
    display: flex;
}
div.data-frame{
    display: none;
    height: 20%;
    width: 100%;
}
iframe.data-frame{
    height: 20%;
    width: 100%;
}